<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Hack the Gap 2018</title>
</head>
<body>
    <p>Hack the Gap 2018 marked the first hackathon in which I've ever participated.  I didn't really know what to expect, and was just a little terrified going into it as a novice programmer.  Once I got there, I realized it was going to be a great weekend.</p>
    <p>Our group built an Game Time, which is meant to help schedule and organize a large group for a day of board gaming.  Want to see how it works?  Follow the Game Time link.  All of the demos from that weekend are also available here.</p>
    <p>Would I do it again?  In a heartbeat.</p>
    <p>Learn more about Hack the Gap.</p>
    
</body>
</html>